body{
    color:rgb(0, 0, 0);
    margin-right: auto;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToZZIvgzSbBhpcUPSYNBaZZ_8F3SGoDGkdoqwh21UBE7cA-lw6BhOnQ-fvINtCiCEeC7w&usqp=CAU);
    background-size: fill;
    font-family: comic 'Times New Roman', Times, serif

}
p{
   color: black;
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   text-align: center;
}
.reeky{
    font-family: 'Times New Roman', Times, serif
    font-size: 120%;
}
a:hover{
    font-size-adjust: 110%;
    background-color: rgb(222, 233, 242);
}
.reeky:hover{
    font-size-adjust: 110%;
    background-color: rgb(222, 233, 242);
}

img{
    padding: 10 px;
    margin: 10px;
   display: inline-block;
    
    
}
.inline-block {
    display: inline-block;
 }

 .center{
    text-align: center;
 }